body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    font-family: sans-serif;
}

main {
    box-sizing: border-box;
    background-color: lightgray;
    max-width: 32rem;
    margin: auto;
    padding: 2rem;
    height: 100%;
}

button {
    width: 5rem;
}

input[type="submit"] {
    width: 5rem;
}

#chatclient-login {
    display: flex;
    align-items: baseline;
}

#chatclient-login input[type="text"] {
    margin: 0 0.5rem 0 0.5rem;
    flex-grow: 1;
}

#chatclient-logout {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
}

#chatclient-logout label {
    flex-grow: 1;
}

#chatclient-logout label > b {
    font-weight: bold;
}

chatclient-lobby {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chatclient-send {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 1rem;
}

#chatclient-send input[type="text"] {
    margin-right: 0.5rem;
    flex-grow: 1;
}

#chatclient-messages {
    flex-grow: 1;
    background-color: darkgray;
    width: 100%;
    overflow-y: auto;
}

#chatclient-messages div.message {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 5px;
}

#chatclient-messages div.message h1 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

chatclient-userselect {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
}

chatclient-userselect input[Type="text"] {
    margin-left: 0.5rem;
    flex-grow: 1;
}

chatclient-userselect button {
    margin-left: 0.5rem;
}